@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);
@import url(../common/wishLeftDetail.css);
@import url(../common/wishRightList.css);


.container{
    padding-top: 80px;
    width: 100vw;
    height: calc( 100vh - 80px);
}

.container .detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap : 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container .detail .right-menu .listBox .listTable .tHeader th:nth-child(3) {
    width: 100px;
    height: 88px;
}

.container .detail .right-menu .listBox .listTable .tHeader th:nth-child(4) {
    width:  700px;
    height: 88px;
}



