<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/wish/purchased.css}">
</head>
<body>

<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="container">
  <div class="detail">
    <div th:replace="~{fragments/common/wishLeftDetail :: wishLeftFragment}"></div>
    <div class="right-menu">
      <div class="listBox">

        <table border="0" class="listTable">
          <tr class="tHeader">
            <th>상품</th>
            <th>상품명</th>
            <th>상품타입</th>
            <th>상품정보</th>
            <th>상품가격</th>
            <th>구매날짜</th>
            <th>취소</th>

          </tr>
          <tr th:each="orderlist:${orderlistDtoList}" class="tBody">
            <form th:action="@{cancel}" method="post" th:object="${orderlistDto}">
              <input type="text" id="orderlistId" name="orderlistId" th:value="${orderlist.orderlistId}" hidden="hidden">
              <td><a href="#"></a>
                <span th:if="${orderlist.attachImg == 1}">
                  <img th:src="@{|/upload/${orderlist.imgNewName}|}"
                       style="width: 150px; height: 150px;" alt="img">
                </span>
                <span th:unless="${orderlist.attachImg == 1}">
                  <img src="https://via.placeholder.com/150 " alt="img">
                </span>
              </td>
              <td th:text="${orderlist.productName}"></td>
              <td th:text="${orderlist.productType}"></td>
              <td th:text="${orderlist.productDesc}"></td>
              <td th:text="${orderlist.productPrice}"></td>
              <td th:text="${#temporals.format(orderlist.orderlistDate, 'yyyy년MM월dd일 HH시mm분')}" ></td>
              <td>   <input type="submit" value="취소하기" class="delete"> </td>
              <!--            <span th:if="${#temporals.format(calendars.createNow(), 'yyyyMMddHHmm') - #temporals.format(orderlist.orderlistDate, 'yyyyMMddHHmm') < -10}">10분지남</span>-->
            </form>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/common/footer :: footerFragment}"></div>

</body>
</html>