<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/wish/wishList.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="detail">
        <div th:replace="~{fragments/common/wishLeftDetail :: wishLeftFragment}"></div>

        <div class="right-menu">
            <div class="listBox">


                <table border="0" class="listTable">
                    <tr class="tHeader">
                        <th>상품이미지</th>
                        <th>상품명</th>
                        <th>상품타입</th>
                        <th>상품정보</th>
                        <th>상품가격</th>
                        <th>구매하기</th>
                        <th>장바구니</th>

                    </tr>
                    <tr th:each="wishDto:${wishDtoList}" class="tBody">
                        <form th:action="@{/wish/orderList}" method="post" th:object="${wishDto}">
                            <!--                  <td><input type="checkbox" id="check" class="check" checked="checked"></td>-->
                            <input type="text" id="wishId" name="wishId" th:value="${wishDto.wishId}" hidden="hidden">
                            <input type="text" id="productId" name="productId" th:value="${wishDto.productId}"
                                   hidden="hidden">
                            <!--                      <input type="text" id="productType" name="productType" th:value="${wishDto.productType}" hidden="hidden">-->
                            <!--                      <input type="text" id="productName" name="productName" th:value="${wishDto.productName}" hidden="hidden">-->
                            <!--                     <input type="text" id="productPrice" name="productPrice" th:value="${wishDto.productPrice}" hidden="hidden">-->
                            <td>
                                <a th:href="@{|/product/detail/${wishDto.productId}|}">
                                <span th:if="${wishDto.attachImg == 1}">
                            <img th:src="@{|/upload/${wishDto.imgNewName}|}"
                                 style="width: 150px; height: 150px;" alt="img">
                            </span>
                                    <span th:unless="${wishDto.attachImg == 1}">
                            <img src="https://via.placeholder.com/150 " alt="img">
                            </span>
                                </a>
                            </td>
                            <td th:text="${wishDto.productName}"></td>
                            <td th:text="${wishDto.productType}"></td>
                            <td th:text="${wishDto.productDesc}"></td>
                            <td th:text="${wishDto.productPrice}"></td>
                            <td><input type="submit" value="구매하기" class="buy"></td>
                            <td>
                                <button><a th:href="@{|/wish/deleteWish/${wishDto.wishId}|}">장바구니 제거</a></button>
                            </td>
                        </form>
                    </tr>
                </table>
                <div class="page">
                    <ul>
                        <li>
                            <a th:href="${wishDtoList.first} ? '#' : @{/wish/cart(page=${wishDtoList.number-1})}">이전</a>

                            <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                                <span th:if="${page == nowPage}" th:text="${page}" th:classappend="class1"></span>
                                <span th:unless="${page == nowPage}">
                                                        <a th:href="@{/wish/cart(page=${page-1})}"
                                                           th:text="${page}"></a>
                                                    </span>
                            </th:block>

                            <a th:href="${wishDtoList.last} ? '#' : @{/wish/cart(page=${wishDtoList.number+1})}">다음</a>
                        </li>
                    </ul>
                </div>

            </div>


        </div>


    </div>
</div>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>

</body>
</html>