<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product Insert</title>
    <link rel="stylesheet" th:href="@{/css/product/productInsert.css}">
</head>

<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="productInsert">
    <div class="productInsert-con">
        <div class="productInsert-form">
            <form th:action="@{/product/productInsert}" method="POST" th:object="${productDto}" enctype="multipart/form-data">

                <ul>
                    <h2>상품 등록</h2>

                    <li class="s2">

                        <label th:for="productType">카테고리</label>
                        <input type="radio" th:field="*{productType}" value="It">아이티
                        <input type="radio" th:field="*{productType}" value="Enter">예체능
                        <input type="radio" th:field="*{productType}" value="Design">디자인
                        <input type="radio" th:field="*{productType}" value="Office">사무
                        <input type="radio" th:field="*{productType}" value="Marketing">마케팅
                        <input type="radio" th:field="*{productType}" value="Invest">재태크
                    </li>

                    <li class="s2">
                        <label th:for="productName">상품명</label>
                        <input type="text" th:field="*{productName}" placeholder="상품명을 입력하세요.">
                    </li>

                    <li class="s2">
                        <label th:for="productPrice">상품가격</label>
                        <input type="text" th:field="*{productPrice}" placeholder="가격을 입력하세요.">
                    </li>

                    <li class="s2">
                        <label th:for="productDesc">상품설명</label> <br>
                        <textarea name="productDesc" id="productDesc" cols="100" rows="30"></textarea>
                    </li>

                    <li class="s2">
                        <label th:for="imgFile">이미지 첨부</label> <br>
                        <input type="file" name="imgFile">
                    </li>


                    <li class="s3">
                        <input type="submit" value="상품등록" class="s3Sub">
                        <a th:href="@{/}" class="s3Sub">HOME</a>
                    </li>
                </ul>

            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>

</html>