<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" th:href="@{/css/product/productDetail.css}">
</head>

<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="productDetail">
        <div class="productDetail-con">
            <div class="productDetail-form">
                <div class="left-menu1" th:if="${product.attachImg==1}">
                    <img th:src="@{|/upload/${product.imgNewName}|}" alt="">
                </div>
                <div class="left-menu2" th:if="${product.attachImg==0}">
                    <img src="https://via.placeholder.com/500" alt="">
                </div>
                <div class="right-menu">
                    <ul>
                        <li class="title">
                            <!-- <span>상품명</span> -->
                            <span th:text="${product.productName}"></span>
                        </li>
                        <li class="desc">
                            <!-- <span>상품설명</span> -->
                            <span th:text="${product.productDesc}"></span><br>
                        </li>
                        <li class="price">
                            <!-- <span>상품가격</span> -->
                            <span th:text="${product.productPrice}"></span>
                            <span>WON</span>
                        </li>
                        <!-- <li>
                            <span>등록일</span>
                            <span th:text="*{#temporals.format(product.productCreate, 'yyyy년 MM월 dd일')}"></span>
                        </li> -->
                        <li>
                            <span>리뷰 수</span>
                            <span th:text="${product.reviewCount}"></span>
                        </li>
                        <li class="btn1">
                            <!-- <a th:href="@{|/product/update/${product.productId}|}">Update</a> -->
                            <!-- <a href="@{|/product/delete/${product.id}|}">Delete</a>-->
                            <a th:href="@{|/wish/putCart/${product.productId}|}">장바구니</a>
                            <a th:href="@{|/wish/orderList/${product.productId}|}">구매하기</a>
        <!--                            <a href="/product/productList">List</a>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Desc">
            <ul>
                <!-- <span>상품설명</span> -->
                <li class="DescSub">
                    <span th:text="${product.productDesc}"></span>
                </li>
                <li>
                    <img src="https://via.placeholder.com/600x1600" alt="상품설명">
                </li>
                <li class="btn2">
                    <a th:href="@{|/wish/orderList/${product.productId}|}">구매하기</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="review">
        <div class="review-con">
            <h2>리뷰</h2>
            <div class="review-list">
                <table>
                    <tr>
                        <th>번호</th>
                        <th>작성자번호</th>
                        <th>내용</th>
                        <th>작성시간</th>
                    </tr>
                    <tr th:each="review: ${reviewDtoList}">
                        <td th:text="${review.reviewId}"></td>
                        <td th:text="${review.userId}"></td>
                        <td th:text="${review.reviewContent}"></td>
                        <td th:text="${#temporals.format(review.reviewDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </table>
            </div>

                <div class="review-write">
                    <form th:action="@{/review/reviewWrite}" method="POST">

                        <input type="hidden" readonly name="productId" th:value="${product.productId}">
                        <ul>
<!--                            <li class="class2">-->
<!--                                <input style="line-height:20px;padding:10px; box-sizing: border-box;" name="userId"-->
<!--                                       id="userId" placeholder="본인의 회원번호를 입력하시오 본인 회원상세정보 확인">-->
<!--                            </li>-->
                            <li>
                                <textarea style="line-height:20px;padding:10px; box-sizing: border-box;"
                                          name="reviewContent" id="reviewContent" cols="30" rows="1"
                                          placeholder="내용을 입력해주세요."></textarea>
                            </li>
                            <li>
                                <input type="submit" value="리뷰작성">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
    </div>
    <div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>

</html>