<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>productList</title>
    <link rel="stylesheet" th:href="@{/css/product/productList.css}">
</head>

<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
</div>
<div class="container">
    <div class="productList">
        <div class="left-menu">
            <h2>예체능</h2>
            <ul>
                <img src="https://via.placeholder.com/200x100" alt="">

                <h3>운동</h3>
                <li><a href="#">헬스·PT 레슨</a></li>
                <li><a href="#">요가·필라테스 레슨</a></li>
                <li><a href="#">스포츠·액티비티 레슨</a></li>
                <li><a href="#">골프 레슨</a></li>
                <li><a href="#">게임 레슨</a></li>

                <h3>음악</h3>
                <li><a href="#">보컬 레슨</a></li>
                <li><a href="#">기타 레슨</a></li>
                <li><a href="#">피아노 레슨</a></li>
                <li><a href="#">바이올린 레슨</a></li>

                <h3>미술</h3>
                <li><a href="#">데생 레슨</a></li>
                <li><a href="#">유화 레슨</a></li>
                <li><a href="#">도색 레슨</a></li>
                <li><a href="#">도자기 레슨</a></li>
                <li><a href="#">프라모델 레슨</a></li>

            </ul>
        </div>
        <div class="productList-con">
            <div class="top-menu">
                <h1 class="title">Enter</h1>
                <div class="search-menu">
                    <ul>
                        <li>가격순</li>
                        <li>시간순</li>
                        <li>조회순</li>
                        <li class="search">
                            <form th:action="@{/product/productList/search3}" method="get">
                                <input type="hidden" name="Enter" id="Enter" value="Enter" readonly>
                                <input type="text" name="search3" id="search3">
                                <input type="submit" value="검색">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="shop-menu">
                <div class="shop-menu-con">
                    <ul>
                        <th:block th:each="product: ${productList}">
                            <li>
                                <div class="top-con" th:if="${product.attachImg==1}">
                                    <!-- 그림 클릭시 상세페이지로 연결 -->
                                    <!-- <img th:src="@{|/upload/${product.imgNewName}|}" alt=""> -->
                                    <a th:href="@{|/product/detail/${product.productId}|}">
                                        <img th:src="@{|/upload/${product.imgNewName}|}" alt="">
                                    </a>
                                </div>
                                <div class="top-con" th:if="${product.attachImg==0}">
                                    <a th:href="@{|/product/detail/${product.productId}|}">
                                        <img src="https://via.placeholder.com/200x200" alt="">
                                    </a>
                                </div>
                                <div class="bottom-con">
                                    <ul>
<!--                                        <li>-->
<!--                                            <span>번호 :</span>-->
<!--                                            <span th:text="${product.productId}"></span>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <span>카테고리 :</span>-->
<!--                                            <span th:text="${product.productType}"></span>-->
<!--                                        </li>-->
                                        <li class="name">
<!--                                            <span>상품명 :</span>-->
                                            <span th:text="${product.productName}"></span>
                                        </li>
<!--                                        <li>-->
<!--                                            <span>상품설명 :</span>-->
<!--                                            <span th:text="${product.productDesc}"></span>-->
<!--                                        </li>-->
                                        <li class="price">
                                            <span>₩</span>
                                            <span th:text="${product.productPrice}"></span>
                                            <span>원</span>
                                        </li>
                                        <!-- <li>
                                            <span>상품등록시간 :</span>
                                            <span
                                                th:text="${#temporals.format(product.productCreate, 'yyyy년MM월dd일 HH시mm분ss초')}"></span>
                                        </li> -->
                                        <li class="review">
                                            <span>리뷰 수</span>
                                            <span th:text="${product.reviewCount}"></span>
                                        </li>
                                        <li class="detail">
                                            <a th:href="@{|/product/detail/${product.productId}|}">상세보기</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </div>
                <div class="page">
                    <ul>
                        <li>
                            <a th:href="${productList.first} ? '#' : @{/product/productList3?productType=enter&(page=${productList.number-1})}">이전</a>

                            <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                                <span th:if="${page == nowPage}" th:text="${page}" th:classappend="class1"></span>
                                <span th:unless="${page == nowPage}">
                                                        <a th:href="@{/product/productList3?productType=enter&(page=${page-1})}"
                                                           th:text="${page}"></a>
                                                    </span>
                            </th:block>

                            <a th:href="${productList.last} ? '#' : @{/product/productList3?productType=enter&(page=${productList.number+1})}">다음</a>
                        </li>
                    </ul>
                </div>
<!--                <div>-->
<!--                    <ul>-->
<!--                        <li class="insert">-->
<!--                            <a th:href="@{|/product/productInsert|}">상품등록</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>

    </div>
    <div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>

</html>