<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberList</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminMemberList.css}">
</head>
<body>
    <div class="container">
        <!-- 레프트메뉴 -->
        <div th:replace="~{fragments/common/adminLeftCon :: adminLeftConFragment}"></div>
        <div class="right-con">
            <!-- 어드민 헤더 -->
            <div th:replace="~{fragments/common/adminHeader :: adminHeaderFragment}"></div>
            <div class="bottom-header">
                <h1>회원관리</h1>
            </div>
            <!-- 어드민 컨테이너 -->
            <div class="con">
                <!-- 회원목록 -->
                <div class="memberList">
                    <table border="1">
                        <tr>
                            <!-- 회원검색 -->
                            <th colspan="7" class="search">
                                <form tg:action="@{/search}" method="get">
                                    <select name="type" id="type">
                                        <option value="" selected>::검색기준::</option>
                                        <option value="id">id</option>
                                        <option value="name">name</option>
                                        <option value="email">email</option>
                                        <option value="role">role</option>
                                    </select>
                                    <input type="text" name="keyword" id="keyword">
                                    <input type="submit" value="seach">
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>email</th>
                            <th>phone</th>
                            <th>create_date</th>
                            <th>role</th>
                            <th>회원상세</th>
                        </tr>
                    <th:block th:each="member : ${memberDtoList}">
                        <tr>
                            <td th:text="${member.userId}"></td>
                            <td th:text="${member.userName}"></td>
                            <td th:text="${member.userEmail}"></td>
                            <td th:text="${member.userPhone}"></td>
                            <td th:text="${#temporals.format(member.userCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${member.userRole}"></td>
                            <td><a th:href="@{|/admin/memberDetail/${member.userId}|}">상세</a></td>
                        </tr>
                    </th:block>
                        <!-- 페이징 -->
                        <tr>
                            <td colspan="76">
                                <a th:href="${memberDtoList.first} ? '#' : @{/admin/memberList(page=${memberDtoList.number-1})}">이전</a>
                                <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">
                                    <span th:if="${page == nowPage}" th:text="${page}" style="background-color: yellow;"></span>
                                    <span th:unless="${page == nowPage}">
                                        <a th:href="@{/admin/memberList(page=${page-1})}" th:text="${page}"></a>
                                    </span>
                                </th:block>
                                    <a th:href="${memberDtoList.last} ? '#' : @{/admin/memberList(page=${memberDtoList.number+1})}">다음</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>