<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberDelete</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminMemberDelete.css}">
</head>
<body>
    <div class="container">
        <!-- 레프트메뉴 -->
        <div th:replace="~{fragments/common/adminLeftCon :: adminLeftConFragment}"></div>
        <div class="right-con">
            <!-- 어드민 헤더 -->
            <div th:replace="~{fragments/common/adminHeader :: adminHeaderFragment}"></div>
            <div class="bottom-header">
                <h1>회원삭제</h1>
            </div>
            <!-- 어드민 컨테이너 -->
            <div class="con">
                <!-- 회원삭제 -->
                <div class="memberDelete">
                  <!-- 삭제확인 -->
                  <form th:action="@{/admin/memberDelete}" method="post">
                    <ul>
                     <li>
                        <label th:for="userId">ID</label>
                        <input type="text" name="userId" id="userId" th:value="${memberDto.userId}" readonly>
                      </li>
                      <li>
                        <label th:for="userName">Name</label>
                        <input type="text" name="userName" th:value="${memberDto.userName}" readonly>
                      </li>
                      <li>
                        <label th:for="userPw">PW확인</label>
                        <input type="password" name="userPw">
                      </li>
                      <li>
                        <input type="submit" value="삭제완료">
                        <a th:href="@{|/admin/memberDetail/${memberDto.userId}|}">취소</a>
                      </li>
                    </ul>
                  </form>
                </div>
            </div>
        </div>
</body>
</html>