<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderList</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminOrderList.css}">
</head>
<body>
    <div class="container">
        <!-- 레프트메뉴 -->
        <div th:replace="~{fragments/common/adminLeftCon :: adminLeftConFragment}"></div>
        <div class="right-con">
            <!-- 어드민 헤더 -->
            <div th:replace="~{fragments/common/adminHeader :: adminHeaderFragment}"></div>
            <div class="bottom-header">
                <h1>주문관리</h1>
            </div>
            <!-- 어드민 컨테이너 -->
            <div class="con">
                <!-- 주문목록 -->
                <div class="orderList">
                    <table>
                        <tr>
                            <th>주문번호</th>
                            <th>주문일자</th>
                            <th>회원번호</th>
                            <th>회원명</th>
                            <th>이메일</th>
                            <th>전화번호</th>
                            <th>상품번호</th>
                            <th>카테고리</th>
                            <th>상품명</th>
                            <th>금액</th>
                        </tr>
                    <th:block th:each="order : ${orderlistDto}">
                        <tr>
                            <td th:text="${order.orderlistId}"></td>
                            <td th:text="${#temporals.format(order.orderlistDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${order.userId}"></td>
                            <td><a th:href="@{|/admin/memberDetail/${order.userId}|}" th:text="${order.userName}"></a></td>
                            <td th:text="${order.userEmail}"></td>
                            <td th:text="${order.userPhone}"></td>
                            <td th:text="${order.productId}"></td>
                            <td th:text="${order.productType}"></td>
                            <td><a th:href="@{#}" th:text="${order.productName}"></a></td>
                            <td th:text="${order.productPrice}"></td>
                        </tr>
                    </th:block>
                </table>
                <div class="nav">
                    <!-- 페이징 -->
                    <div class="page">
                        <a th:href="${orderlistDto.first} ? '#' : @{/admin/orderList(page=${orderlistDto.number-1})}">이전</a>
                        <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">
                            <span th:if="${page == nowPage}" th:text="${page}" style="background-color: yellow;"></span>
                            <span th:unless="${page == nowPage}">
                                <a th:href="@{/admin/orderList(page=${page-1})}" th:text="${page}"></a>
                            </span>
                        </th:block>
                            <a th:href="${orderlistDto.last} ? '#' : @{/admin/orderList(page=${orderlistDto.number+1})}">다음</a>
                    </div>
                    <!-- 주문내역 검색 -->
                    <div class="search">
                        <form th:action="@{/admin/orderSearch}" method="get">
                            <select name="type" id="type">
                                <option value="" selected>::검색기준::</option>
                                <option value="orderlistId">주문번호</option>
                                <option value="productId">상품번호</option>
                                <option value="productName">상품명</option>
                                <option value="userName">회원명</option>
                                <option value="userEmail">이메일</option>
                            </select>
                            <input type="text" name="keyword" id="keyword">
                            <input type="submit" value="search">
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>