<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberDetail</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminMemberDetail.css}">
</head>
<body>
    <div class="container">
        <!-- 레프트메뉴 -->
        <div th:replace="~{fragments/common/adminLeftCon :: adminLeftConFragment}"></div>
        <div class="right-con">
            <!-- 어드민 헤더 -->
            <div th:replace="~{fragments/common/adminHeader :: adminHeaderFragment}"></div>
            <div class="bottom-header">
                <h1>회원상세</h1>
            </div>
            <!-- 어드민 컨테이너 -->
            <div class="con">
                <!-- 회원상세 -->
                <div class="memberDetail">
                  <!-- 회원정보 -->
                    <ul>
                      <li>
                        <label th:for="userId">ID</label>
                        <span th:text="${memberDto.userId}"></span>
                      </li>
                      <li>
                        <label th:for="userCreate">Create</label>
                        <span th:text="${#temporals.format(memberDto.userCreate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                      </li>
                      <li>
                        <label th:for="userName">Name</label>
                        <span th:text="${memberDto.userName}"></span>
                      </li>
                      <li>
                        <label th:for="userEmail">Email</label>
                        <span th:text="${memberDto.userEmail}"></span>
                      </li>
                      <li>
                        <label th:for="userPhone">Phone</label>
                        <span th:text="${memberDto.userPhone}"></span>
                      </li>
                      <li>
                        <label th:for="userRole">role</label>
                        <span th:text="${memberDto.userRole}"></span>
                      </li>
                      <li>
                        <a th:href="@{/admin/memberList}">회원목록</a>
                        <a th:href="@{|/admin/wishList/${memberDto.userId}|}">찜목록</a>
                        <a th:href="@{|/admin/memberUpdate/${memberDto.userId}|}">회원수정</a>
                        <a th:href="@{|/admin/memberDelete/${memberDto.userId}|}">회원삭제</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>