<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<body>
<div class="container">
    <!-- 레프트메뉴 -->
    <div th:replace="~{fragments/common/adminLeftCon :: adminLeftConFragment}"></div>
    <div class="right-con">
        <!-- 어드민 헤더 -->
        <div th:replace="~{fragments/common/adminHeader :: adminHeaderFragment}"></div>
        <div class="bottom-header">
            <h1>관리자 페이지</h1>
        </div>
        <!-- 어드민 컨테이너 -->
        <div class="con">

        </div>
    </div>
</div>
</body>
</html>