<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/member/findEmail.css}">
    
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="findEmail">
        <div class="findEmail-con">
            <form th:action="@{/member/findEmailOk}" method="get" class="findEmailForm">
                <div class="findEmail-form">
                    <ul>
                        <li>이메일 찾기</li>
                        <li class="s1">
                            <h4>닉네임</h4>
                            <input type="text" name="userName" id="userName">
                        </li>

                        <li class="s1">
                            <h4>핸드폰</h4>
                            <input type="text" name="userPhone" id="userPhone" maxlength="13" oninput="autoHyphen(this)">
                        </li>

                        <br>

                        <li class="s2">
                            <input type="submit" value="찾기" class="findBtn">
                            <a th:href="@{/member/login}" class="cancelBtn">뒤로</a><br>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/common/footer :: footerFragment}"></div>

<script th:src="@{/js/member/findEmail.js}" defer></script>
</body>

</html>