<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script th:src="@{/js/member/findEmail.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/member/findEmail.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="findEmail">
        <div class="findEmail-con">
            <form th:action="@{/member/findEmailOk}" method="get" id="findEmailForm">
                <div class="findEmail-form">
                    <ul>
                        <li>이메일 찾기</li>
                        <li class="s1">
                            <label for="userName">닉네임</label><br>
                            <input type="text" name="userName" id="userName">
                        </li>

<!--                        <li class="s1">
                            <label for="userPhone">전화번호</label><br>
                            <input type="text" name="userPhone" id="userPhone" maxlength="13" oninput="autoHyphen(this)">
                        </li>-->

                        <li class="s2">
                            <input type="submit" value="찾기" id="findBtn">
                            <a th:href="@{/member/login}">뒤로</a><br>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>
</html>