<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script th:src="@{/js/member/login.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="login">
        <div class="login-con">
            <form th:action="@{/loginOk}" method="post" id="loginForm">
                <div class="login-form">
                    <ul>
                        <li>로그인</li>
                        <li class="s1">
                            <h4>이메일</h4>
                            <input type="text" name="userEmail" id="userEmail" placeholder="example@naver.com">
                        </li>

                        <li class="s1">
                            <h4>비밀번호</h4>
                            <input type="password" name="userPw" id="userPw" placeholder="비밀번호를 입력해주세요">
                        </li>

                        <div th:if="error" class="error">
                            <p id="valid"><a th:text="${exception}"></a></p>
                        </div>

                        <li class="s2">
                            <input type="submit" value="로그인" id="loginBtn">
                        </li>

                        <div class="sideMenu">
                            <a th:href="@{/member/findEmail}">아이디 찾기</a><br>
                            <div class="line"></div>
                            <a th:href="@{/member/signUp}">회원가입</a>
                        </div>
                    </ul>
                </div>

                <br>
                
                <div class="google">
                        <img th:src=@{/img/google.png} alt="google" class="img">
                        <a th:href="@{/oauth2/authorization/google}">Google로 시작하기</a><br>
                </div>
            </form>

        </div>
    </div>
</div>

<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>
</html>