<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{/js/member/signUp.js}" defer></script>
    <script th:src="@{/js/common/header.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/member/signUp.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="signUp">
        <div class="signUp-con">
            <form th:action="@{/member/signUp}" method="post" th:object="${memberDto}">
                <div class="signUp-form">
                    <ul>
                        <li>
                            <a th:href="@{/}">MZ</a>
                        </li>
                        <li>
                            <h4>이메일</h4>
                            <input type="text" th:field="*{userEmail}" placeholder="example@naver.com">
                        </li>
                        <p th:if="${#fields.hasErrors('userEmail')}" th:errorclass="error" th:errors="*{userEmail}" />

                        <li>
                            <h4>비밀번호</h4>
                            <input type="password" th:field="*{userPw}" placeholder="비밀번호를 입력해주세요">
                        </li>
                        <p th:if="${#fields.hasErrors('userPw')}" th:errorclass="error" th:errors="*{userPw}" />

                        <li>
                            <h4>닉네임</h4>
                            <input type="text" th:field="*{userName}" placeholder="닉네임">
                        </li>
                        <p th:if="${#fields.hasErrors('userName')}" th:errorclass="error" th:errors="*{userName}" />

                        <li>
                            <h4>핸드폰</h4>
                            <input type="text" th:field="*{userPhone}" maxlength="13" oninput="autoHyphen(this)" placeholder="-빼고 입력해주세요">
                        </li>
                        <p th:if="${#fields.hasErrors('userPhone')}" th:errorclass="error" th:errors="*{userPhone}" />
                        <li>
                            <input type="submit" value="회원가입">
                            <a th:href="@{/}">HOME</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>
</html>