@charset "UTF-8";

.container .detail .left-menu{
    
    background-color: black;
    height: 700px;
    width: 200px;
}

.container .detail .left-menu .detail-form{

    height: 400px;
    /* padding: 5px; */
    gap: 5px;
    flex: 1;
    /* background-color: violet; */

}

.container .detail .left-menu .detail-form ul{

    gap: 5px;
    padding: 3px;
    margin-top: 20px;
}

.container .detail .left-menu .detail-form ul li{


    gap: 3px;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
}

.container .detail .left-menu .detail-form ul li.t1{

    background-color: gray;
    color: whitesmoke;
    text-align: right;
    font-size: 21px;
    /* font-weight: bold; */
    margin-right: 5px;
}

.container .detail .left-menu .detail-form ul li.t2{

    background-color: gainsboro;
    color: white;
    text-align: right;
    font-size: 17px;
    /* font-weight: bold; */
    margin: 0px;

}