@import url(../common/adminHeader.css);
@import url(../common/adminLeftCon.css);
@import url(../common/reset.css);

/* admin */

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}



/* right-con */

.container .right-con{
  width: calc(100vw - 250px);
  height: 100%;
}


.container .right-con .bottom-header{
  width: 100%;
  height: 100px;
  border: 1px solid red;
  box-sizing: border-box;
}

.container .right-con .bottom-header h1{
  line-height: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

