@import url(../common/adminHeader.css);
@import url(../common/adminLeftCon.css);
@import url(../common/reset.css);

/* admin */

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

/* right-con */

.container .right-con{
  width: calc(100vw - 250px);
  height: 100%;
}

.container .right-con .top-header{
  display: flex;
  justify-content: flex-end;
  padding: 5px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.container .right-con .top-header .gnb > ul{
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.container .right-con .top-header .gnb > ul > li a img{
  width: 16px;
  height: 16px;
  font-weight: bold;
}

.container .right-con .bottom-header{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid navy;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.container .right-con .bottom-header h1{
  line-height: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

/* 어드민 컨테이너 */

.container .right-con .con{
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .right-con .con .orderList{
  width: auto;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .right-con .con .orderList table{
  width: 100%;
  border-top: navy 2px solid;
}


.container .right-con .con .orderList table tbody{
  width: 100%;
  height: 100%;
  
}


.container .right-con .con .orderList table tbody tr{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #8080806b;
}

.container .right-con .con .orderList table tbody tr:nth-child(1){
  border: none;
  font-weight: bold;
}

.container .right-con .con .orderList table tbody tr th{
  width: 150px;
  padding: 5px;
  text-align: center;
}

.container .right-con .con .orderList table tbody tr td{
  width: 150px;
  padding: 5px;
  text-align: center;
}

.nav{
  width: 100%;
  border-bottom: 2px solid navy;
  display: flex;
  justify-content: space-between;
  padding: 10px
}

