@import url(../common/adminHeader.css);
@import url(../common/adminLeftCon.css);
@import url(../common/reset.css);
/*product insert*/

.container{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: space-between;
 }

 /* right-con */

 .container .right-con{
   width: calc(100vw - 250px);
   height: 100%;
 }


 .container .right-con .bottom-header{
   width: 100%;
   height: 100px;
   border: 1px solid red;
   box-sizing: border-box;
 }

 .container .right-con .bottom-header h1{
   line-height: 100%;
   padding-left: 30px;
   box-sizing: border-box;
 }

 /* 어드민 컨테이너 */

 .container .right-con .con{
   height: calc(100vh - 150px);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 100px;

 }

 .container .right-con .con .productUpdate{
   border: 1px solid navy;
   height: 700px;
   padding: 10px;
   justify-content: center;
   align-items: center;
 }

 /* .container .right-con .con .productInsert > ul{
 } */

 .container .right-con .con .productUpdate > form > ul > li{
  /* display: flex;*/
   justify-content: space-between;
   gap: 10px;
   padding: 10px;
   display: inline-block;
 }

 .container .right-con .con .productUpdate > form > ul > li:nth-child(7){
   padding-top: 20px;
 }

 .container .right-con .con .productUpdate > form >  ul > li label{
   background-color: navy;
   color: white;
   flex: 2;
   padding: 5px 10px;
 }

 .container .right-con .con .productUpdate > form >  ul > li input{
   border: 1px solid navy;
   padding: 5px 10px;
 }
  .container .right-con .con .productUpdate > form >  ul > li span img{
    width: 100px;
    height: 100px;
    display: block;
  }