<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- adminHeader -->

<div class="header" th:fragment="adminHeaderFragment">
    <div class="top-header">
        <div class="gnb">
            <ul>
                <li sec:authorize="isAuthenticated()"><a th:href="@{#}">
                    <img th:src="@{/img/icon/member.png}" alt="member">회원정보
                </a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{#}">
                    <img th:src="@{/img/icon/logout.png}" alt="logout">로그아웃
                </a></li>
            </ul>
        </div>
    </div>
</div> 
    
</html>