<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footerFragment">
    <!-- jQuery 필수 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- 필수 js -->
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <!-- 필수 js -->
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/js/chat.js}"></script>

    <!-- 챗봇 -->
    <div class="chat" id="chat">
        <!-- <a th:href="@{#}"><img th:src="@{/img/icon/chatbot.png}" alt="chat"></a> -->
        <img th:src="@{/img/icon/chatbot.png}" onclick="openChat()" alt="chat">
    </div>
    <div class="chat-con" id="chat-con">
        <!-- header -->
        <div id="chat-header">
            <span>chatbot 테스트</span>
            <span class="btn-wrap">
                <button id="closeBtn" onclick="disconnect()">X</button>
            </span>
        </div>
        <!-- content -->
        <div id="chat-content">

        </div>
        <!-- question 메세지 입력란 -->
        <div id="chat-question">
            <span class="flex class center"><i></i></span>
            <input type="text" id="question" placeholder="질문을 입력하세요">
            <button id="sendBtn" onclick="msgSend()">전송</button>
        </div>
    </div>
    <div class="footer-con">
        <div class="addr">
            <p>Copyright</p>
            <p>Address</p>
        </div>
    </div>
</div>