<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="left-menu" th:fragment="wishLeftFragment">
    <div class="detail-form">

        <ul>
            <li class="t1">회원</li>
            <li class="t2">
                <a th:href="@{/member/detail}">회원정보</a>
            </li>
            <li class="t2">
                <a th:href="@{/member/update}">회원수정</a>
            </li>
            <li class="t2">
                <a th:href="@{/member/delete}">회원삭제</a>
            </li>
        </ul>

        <ul>
            <li class="t1">SHOP</li>
            <li class="t2"><a href="/wish/cart">장바구니</a></li>
            <li class="t2"><a href="/wish/purchased">구매내역</a></li>
            <li class="t2"><a href="/wish/cancelList">취소내역</a></li>
        </ul>





    </div>

</div>