/* footer */
.footer{
  width: 100%;
  background-color: black;
}

/* 챗봇 */
.footer .chat{
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background-color: blue; */
  /* border: 1px solid white; */
}

.footer .chat a{
  width: inherit;
  height: inherit;
}

.footer .chat a img{
  width: inherit;
  height: inherit;
}


.footer .footer-con{
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .footer-con .addr{
  flex: 0 0 1600px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: grey;
  padding: 50px 0;
  box-sizing: border-box;
}

.footer .footer-con .addr p{
  padding: 0 50px;
}