@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);
/*ProductList(It)*/
.header{
  position: static; /*포지션 기본*/
}

.container{
  width: 100%;
  /* background-color: #cccccc; */
}

.container .productList{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .productList .productList-con{
  flex: 0 1 1600px;
}



/* 옆 메뉴바 끝*/

.container .productList .productList-con .top-menu{
  padding: 20px;
  box-sizing: border-box;
}

.container .productList .productList-con .top-menu h1.title{
  background-color: #2196f3;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.container .productList .productList-con .top-menu .search-menu{
  display: flex;
  justify-content: flex-end;
}

/* 가격순, 시간순, 조회순, 검색바 */
.container .productList .productList-con .top-menu .search-menu ul{
  flex: 0 1 auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #263bfa;
  color: #ffffff;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container .productList .productList-con .shop-menu{
  width: 100%;
  border: 0px solid;
  box-sizing: border-box;
}

/*밑에 상품등록 버튼(나중에 다른 곳으로 이동?)*/
.container .productList .productList-con .shop-menu ul li.insert{
  text-align: end;
  padding: 10px;
  width: fit-content;
}

.container .productList .productList-con .shop-menu ul{
  /* display: flex; */
  justify-content: flex-end;
}

.container .productList .productList-con .shop-menu ul li{
  flex: 0 1 auto;
  /* display: flex; */
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: #000000;
  gap: 10px;
  /* padding: 8px; */
  box-sizing: border-box;
}

/*상품 이름*/
.container .productList .productList-con .shop-menu ul li.name{
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/*상품 가격*/
.container .productList .productList-con .shop-menu ul li.price{
  padding: 10px;
  text-align: right;

  font-size: 21px;
  font-weight: bold;
}

/*상품 리뷰*/
.container .productList .productList-con .shop-menu ul li.review{
  text-align: right;
  font-weight: normal;
}

/*상품 상세*/
.container .productList .productList-con .shop-menu ul li.detail{
  text-align: right;
  font-weight: normal;
}

.container .productList .productList-con .shop-menu ul li a{
  color: #000000;
  text-align: center;
}

.container .productList .productList-con .shop-menu .shop-menu-con{
  width: 100%;
  border: 0px solid #00ff00;
  box-sizing: border-box;
  padding: 20px;
}

/*이미지 부모*/
.container .productList .productList-con .shop-menu .shop-menu-con .top-con{
  width: 100%;
  border: 0px solid #00ff00;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*이미지*/
.container .productList .productList-con .shop-menu .shop-menu-con img{
  border: 0px solid #ff0000;
  width: 200px;
  height: 200px;
}

/*Grid 4열*/
.container .productList .productList-con .shop-menu .shop-menu-con > ul{
  width: 100%;
  border: 0px solid #ffff00;
  box-sizing: border-box;
  color: #ffffff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*4열*/
  /* grid-template-columns: repeat(4, 1fr)); */
  grid-template-rows: 400px 400px;
  /* grid-template-rows: minmax(0,400px); 행 */
  grid-auto-rows: minmax(0, 400px);
  gap: 40px;
}

.container .productList .productList-con .shop-menu .shop-menu-con > ul > li{
  box-shadow: 1px 2px 5px #4d4d4d;
  padding: 5px;
  box-sizing: border-box;
  
}

.container .productList .productList-con .shop-menu .shop-menu-con > ul >li .top-con img{
   width: 100%;
   display: block;
   
}

.container .productList .productList-con .shop-menu .page ul li{
  background-color: #2196f3;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.container .productList .productList-con .shop-menu .page ul li a{
  color: #ffffff;
}