@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);
@import url(../common/wishLeftDetail.css);
@import url(../common/memberRightList.css);

.container{
    padding-top: 80px;
    width: 100vw;
    height: auto;
}

.container .detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap : 10px;
    padding: 10px;
    box-sizing: border-box;
}









.container .detail .right-menu .detail-form ul li.s2 label{
    flex: 2;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .detail .right-menu .detail-form ul li.s2 span{
     flex: 2;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .detail .right-menu .detail-form ul li.s2 input{
    flex: 3;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.container .detail .right-menu .detail-form ul li.s3 input{

    margin-right: 10px;
    background-color: darkblue;
    width: 100px;
    height: 50px;
    border: 0px;
        color: white;
}